.formulario-container {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem 5rem 3.125rem;

}
.formulario-container .formulario {
    background: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 1.25rem;
    padding: 2rem 4rem;
    flex: 1;
}
.formulario-container .formulario h2 {
    font-weight: 400;
    font-size: 2rem;
}